body{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(227,221,18,1) 100%); 
background-attachment: fixed ;
margin:0;
font-family: 'poppins',sans-serif;
}
#form{
    width: 400px;
    margin:10vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 30px;

}
h1{
    text-align: center;
    color:black;
}
#form button{
    background-color: yellow;
    color:black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0px;
    font-size: 20px;
    width:100%;
}
.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input-group input{
    border-radius:5px;
    font-size: 20px;
    margin-top:5 px;
    padding: 10px;
    border: 1px solid skyblue;

}
.input-group input:focus{
    outline:0;
}
.input-group.error{
    color:red;
    font-size: 15px;
    margin-top: 5px  ;
}
.input-group.success input{
    border-color: green;
}
.input-group.error input{
    border-color: red;
}